.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.username-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 300px;
  height: 30px;
  padding: 5px;
}

.login-button {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.header-title {
  font-size: 50px;
  margin-bottom: 10px;
}

.header-subtitle {
  margin-bottom: 10px;
  font-weight: 200;
}

.login-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.signup {
  margin-top: 10px;
  color: #939393;
  font-weight: 200;
}

.signup-button {
  width: 200px;
  height: 30px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  justify-self: flex-end;
}